<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Estimate Shipping &amp; Taxes</h4>
  </div>
  <div id="collapse-shipping" class="panel-collapse collapse in">
    <div class="panel-body">
      <p>Enter your destination to get a shipping estimate.</p>
      <form class="form-horizontal">
        <div class="form-group required">
          <label class="col-sm-2 control-label" for="input-country">Country</label>
          <div class="col-sm-10">
            <select name="country_id" id="input-country" class="form-control"
                    [(ngModel)]="selectedCountryId"
                    (ngModelChange)="onChangeCountry($event)">
              <option value="0">-&#45;&#45; Please Select -&#45;&#45;</option>
              <option *ngFor="let country of this.countries" [value]="country.id" class="option">
                {{country.title}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group required">
          <label class="col-sm-2 control-label" for="input-zone">Region / State</label>
          <div class="col-sm-10">
            <select class="form-control" id="input-zone" name="zone_id"
                    [(ngModel)]="selectedStateId"
                    (ngModelChange)="onChangeState($event)">
              <option *ngFor="let state of this.states" [value]="state.id" class="option">
                {{state.title}}
              </option>
            </select>
          </div>
        </div>
        <!--<div class="form-group required">-->
        <!--<label class="col-sm-2 control-label" for="input-postcode">Post Code</label>-->
        <!--<div class="col-sm-10">-->
        <!--<input type="text" name="postcode" value="" placeholder="Post Code" id="input-postcode"-->
        <!--class="form-control">-->
        <!--</div>-->
        <!--</div>-->
        <!--<input type="button" value="Get Quotes" id="button-quote" data-loading-text="Loading..."-->
        <!--class="btn btn-primary">-->
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-8">
    <table class="table table-bordered">
      <tbody>
      <tr>
        <td class="text-right"><strong>Sub-Total:</strong></td>
        <td class="text-right">${{this.inputTotal}}</td>
      </tr>
      <tr>
        <td class="text-right"><strong>Eco Tax (-{{this.selectedTax}}):</strong></td>
        <td class="text-right">${{(this.inputTotal)*(this.selectedTax)}}</td>
      </tr>
      <!--<tr>-->
      <!--<td class="text-right"><strong>VAT (20%):</strong></td>-->
      <!--<td class="text-right">$188.00</td>-->
      <!--</tr>-->
      <tr>
        <td class="text-right"><strong>Total:</strong></td>
        <td class="text-right">${{(this.inputTotal)*(1-this.selectedTax)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
