<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Use Coupon Code</h4>
  </div>
  <div id="collapse-coupon" class="panel-collapse collapse in">
    <div class="panel-body">
      <label class="col-sm-4 control-label" for="input-coupon">Enter your coupon here</label>
      <div class="input-group">
        <input type="text" name="coupon" value="" placeholder="Enter your coupon here" id="input-coupon"
               class="form-control">
        <span class="input-group-btn">
                      <input type="button" value="Apply Coupon" id="button-coupon" data-loading-text="Loading..."
                             class="btn btn-primary">
                      </span></div>
    </div>
  </div>
</div>
