<ngx-carousel
  [inputs]="carouselBanner"
  [moveToSlide]="1"
  (onMove)="onmoveFn($event)" class="bannerStyle" >

  <div *ngFor="let banner of this.bannerCollection">

    <ngx-item NgxCarouselItem class="bannerStyle">
      <img class="img-responsive" src="{{banner.src}}" alt="{{banner.alt}}" />
    </ngx-item>

  </div>


  <!--<ngx-item NgxCarouselItem class="bannerStyle">-->
    <!--<img class="img-responsive" src="../assets/image/slider/banner-1.jpg" alt="banner 1" />-->
  <!--</ngx-item>-->

  <!--<ngx-item NgxCarouselItem class="bannerStyle">-->
    <!--<img class="img-responsive" src="../assets/image/slider/banner-2.jpg" alt="banner 1" />-->
  <!--</ngx-item>-->

  <!--<ngx-item NgxCarouselItem class="bannerStyle">-->
    <!--<img class="img-responsive" src="../assets/image/slider/banner-3.jpg" alt="banner 1" />-->
  <!--</ngx-item>-->

  <button NgxCarouselPrev class='leftRs'>&lt;</button>
  <button NgxCarouselNext class='rightRs'>&gt;</button>

</ngx-carousel>



