<div id="content" class="container">
  <h1 class="title">{{this.parentCategory?.name}}</h1>
  <app-categories *ngIf="this.categories" [inputCategories]="this.categories"></app-categories>
  <div class="product-filter">
    <div class="row">
      <div class="col-md-4 col-sm-5">
        <div class="btn-group">
          <button type="button" id="list-view" class="btn btn-default" [class.selected]="!this.isGridView" data-toggle="tooltip" title=""
                  data-original-title="List" (click)="ActivateView('list')">
            <i class="fa fa-th-list"></i>
          </button>
          <button type="button" id="grid-view" class="btn btn-default" [class.selected]="this.isGridView" data-toggle="tooltip" title=""
                  data-original-title="Grid" (click)="ActivateView('grid')">
            <i class="fa fa-th"></i>
          </button>
        </div>
        <a id="compare-total">Product Compare ({{this.compareList}})</a></div>
      <div class="col-sm-2 text-right">
        <label class="control-label" for="input-sort">Sort By:</label>
      </div>
      <div class="col-md-3 col-sm-2 text-right">
        <select id="input-sort" class="form-control col-sm-3" [(ngModel)]='sortOptionSelected'
                (ngModelChange)="onSortOptionsSelected($event)">
          <option class="option" *ngFor="let sOption of sortOptions" [value]="sOption.id">{{sOption.name}}</option>
        </select>
      </div>
      <div class="col-sm-1 text-right">
        <label class="control-label" for="input-limit">Show:</label>
      </div>
      <div class="col-sm-2 text-right">
        <select id="input-limit" class='form-control' [(ngModel)]='showOptionSelected'
                (ngModelChange)='onShowOptionsSelected($event)'>
          <option class='option' *ngFor='let option of showOptions' [value]="option">{{option}}</option>
        </select>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div *ngIf="this.products?.length==0"><span>there is no products</span></div>

    <app-product-grid-view [inputProducts]="this.products" *ngIf="this.isGridView"></app-product-grid-view>
    <app-product-list-view [inputProducts]="this.products" *ngIf="!this.isGridView"></app-product-list-view>
  </div>

  <div class="row ">
    <app-pagination
      [loading]="loading"
      (goPage)="goToPage($event)"
      (goNext)="onNext()"
      (goPrev)="onPrev()"
      [pagesToShow]="3"
      [page]="page"
      [perPage]="limit"
      [count]="total"></app-pagination>
  </div>
</div>

