<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Use Gift Voucher</h4>
  </div>
  <div id="collapse-voucher" class="panel-collapse collapse in">
    <div class="panel-body">
      <label class="col-sm-4 control-label" for="input-voucher">Enter gift voucher code here</label>
      <div class="input-group">
        <input type="text" name="voucher" value="" placeholder="Enter gift voucher code here" id="input-voucher"
               class="form-control">
        <span class="input-group-btn">
                      <input type="submit" value="Apply Voucher" id="button-voucher" data-loading-text="Loading..."
                             class="btn btn-primary">
                      </span></div>
    </div>
  </div>
</div>
