<div id="container">
  <!-- Feature Box Start-->
  <div class="container">
    <app-site-features></app-site-features>
  </div>
  <!-- Feature Box End-->
  <div class="container">
    <div class="row">
      <!-- Left Part Start-->
      <app-left-side></app-left-side>
      <!-- Left Part End-->
      <!--Middle Part Start-->
      <!--Middle Part Start-->
      <div id="content" class="col-sm-9">
        <!-- Slideshow Start-->
        <!--<app-banner></app-banner>-->
        <app-slide></app-slide>
        <!-- Slideshow End-->
        <!-- Featured Product Start-->
        <h3 class="subtitle">Featured</h3>
        <app-products [inputCategoryId]="11"></app-products>

        <!-- Featured Product End-->
        <!-- Banner Start-->
        <app-banner [bannerState]="3"></app-banner>
        <!-- Banner End-->
        <!-- Categories Product Slider Start-->
        <h3 class="subtitle">Smart phones - <a class="viewall" routerLink="/categories/14">view all</a></h3>
        <app-products [inputCategoryId]="55"></app-products>
        <!-- Categories Product Slider End-->
        <!-- Banner Start -->
        <app-banner [bannerState]="2"></app-banner>
        <!-- Banner End -->
        <!-- Categories Product Slider Start -->
        <h3 class="subtitle">Health &amp; Beauty - <a class="viewall" routerLink="/categories/58">view all</a></h3>
        <app-products [inputCategoryId]="17"></app-products>
        <!-- Categories Product Slider End -->
        <!-- Brand Product Slider Start-->
        <h3 class="subtitle">Men Health & Beauty - <a class="viewall" routerLink="/categories/58">view all</a></h3>
        <app-products [inputCategoryId]="22"></app-products>
        <!-- Brand Product Slider End -->
        <!-- Brand Logo Carousel Start-->
        <div id="carousel" class="owl-carousel nxt">
          <div class="item text-center"><a href="#"><img src="../assets/image/product/apple_logo-100x100.jpg" alt="Palm"
                                                         class="img-responsive"/></a></div>
          <div class="item text-center"><a href="#"><img src="../assets/image/product/canon_logo-100x100.jpg" alt="Sony"
                                                         class="img-responsive"/></a></div>
          <div class="item text-center"><a href="#"><img src="../assets/image/product/apple_logo-100x100.jpg"
                                                         alt="Canon" class="img-responsive"/></a></div>
          <div class="item text-center"><a href="#"><img src="../assets/image/product/canon_logo-100x100.jpg"
                                                         alt="Apple" class="img-responsive"/></a></div>
          <div class="item text-center"><a href="#"><img src="../assets/image/product/apple_logo-100x100.jpg" alt="HTC"
                                                         class="img-responsive"/></a></div>
          <div class="item text-center"><a href="#"><img src="../assets/image/product/canon_logo-100x100.jpg"
                                                         alt="Hewlett-Packard" class="img-responsive"/></a></div>
          <div class="item text-center"><a href="#"><img src="../assets/image/product/apple_logo-100x100.jpg"
                                                         alt="brand" class="img-responsive"/></a></div>
          <div class="item text-center"><a href="#"><img src="../assets/image/product/canon_logo-100x100.jpg"
                                                         alt="brand1" class="img-responsive"/></a></div>
        </div>
        <!-- Brand Logo Carousel End -->
      </div>
      <!--Middle Part End-->
    </div>
  </div>
</div>

