<ul>
  <li><a href="login.html">Login</a></li>
  <li><a href="register.html">Register</a></li>
  <li><a href="category.html">Category (Grid/List)</a></li>
  <li><a href="product.html">Product</a></li>
  <li><a href="cart.html">Shopping Cart</a></li>
  <li><a href="checkout.html">Checkout</a></li>
  <li><a href="compare.html">Compare</a></li>
  <li><a href="wishlist.html">Wishlist</a></li>
  <li><a href="search.html">Search</a></li>
</ul>
<ul>
  <li><a href="about-us.html">About Us</a></li>
  <li><a href="404.html">404</a></li>
  <li><a href="elements.html">Elements</a></li>
  <li><a href="faq.html">Faq</a></li>
  <li><a href="sitemap.html">Sitemap</a></li>
  <li><a href="contact-us.html">Contact Us</a></li>
</ul>
