<aside id="column-left" class="col-sm-3 hidden-xs">
  <h3 class="subtitle">Categories</h3>
  <div class="box-category">
    <ul id="cat_accordion">
      <li><a href="#">Clothing</a> <span class="down"  ></span>
        <ul>
          <li><a href="category.html">Men</a> <span class="down"></span>
            <ul >
              <li><a href="category.html">Sub Categories</a></li>
              <li><a href="category.html">Sub Categories</a></li>
              <li><a href="category.html">Sub Categories</a></li>
              <li><a href="category.html">Sub Categories</a></li>
              <li><a href="category.html">Sub Categories New</a></li>
            </ul>
          </li>
          <li><a href="category.html">Women</a></li>
          <li><a href="category.html">Girls</a> <span class="down"></span>
            <ul>
              <li><a href="category.html">Sub Categories</a></li>
              <li><a href="category.html">Sub Categories New</a></li>
              <li><a href="category.html">Sub Categories New</a></li>
            </ul>
          </li>
          <li><a href="category.html">Boys</a></li>
          <li><a href="category.html">Baby</a></li>
          <li><a href="category.html">Accessories</a> <span class="down"></span>
            <ul>
              <li><a href="category.html">New Sub Categories</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="category.html">Electronics</a> <span class="down"></span>
        <ul>
          <li><a href="category.html">Laptops</a> <span class="down"></span>
            <ul>
              <li><a href="category.html">New Sub Categories</a></li>
              <li><a href="category.html">New Sub Categories</a></li>
              <li><a href="category.html">Sub Categories New</a></li>
            </ul>
          </li>
          <li class="custom_id68"><a href="category.html">Desktops</a> <span class="down"></span>
            <ul>
              <li><a href="category.html">New Sub Categories</a></li>
              <li><a href="category.html">Sub Categories New</a></li>
              <li><a href="category.html">Sub Categories New</a></li>
            </ul>
          </li>
          <li><a href="category.html">Cameras</a> <span class="down"></span>
            <ul>
              <li><a href="category.html">New Sub Categories</a></li>
            </ul>
          </li>
          <li><a href="category.html">Mobile Phones</a> <span class="down"></span>
            <ul>
              <li><a href="category.html">New Sub Categories</a></li>
              <li><a href="category.html">New Sub Categories</a></li>
            </ul>
          </li>
          <li><a href="category.html">TV &amp; Home Audio</a> <span class="down"></span>
            <ul>
              <li><a href="category.html">New Sub Categories</a></li>
              <li><a href="category.html">Sub Categories New</a></li>
            </ul>
          </li>
          <li><a href="category.html">MP3 Players</a></li>
        </ul>
      </li>
      <li><a href="category.html">Shoes</a> <span class="down"></span>
        <ul>
          <li><a href="category.html">Men</a></li>
          <li><a href="category.html">Women</a> <span class="down"></span>
            <ul>
              <li><a href="category.html">New Sub Categories</a></li>
              <li><a href="category.html">Sub Categories</a></li>
            </ul>
          </li>
          <li><a href="category.html">Girls</a></li>
          <li><a href="category.html">Boys</a></li>
          <li><a href="category.html">Baby</a></li>
          <li><a href="category.html">Accessories</a><span class="down"></span>
            <ul>
              <li><a href="category.html">New Sub Categories</a></li>
              <li><a href="category.html">New Sub Categories</a></li>
              <li><a href="category.html">Sub Categories</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="category.html">Watches</a> <span class="down"></span>
        <ul>
          <li><a href="category.html">Men's Watches</a></li>
          <li><a href="category.html">Women's Watches</a></li>
          <li><a href="category.html">Kids' Watches</a></li>
          <li><a href="category.html">Accessories</a></li>
        </ul>
      </li>
      <li><a href="category.html">Jewellery</a> <span class="down"></span>
        <ul>
          <li><a href="category.html">Silver</a> <span class="down"></span>
            <ul>
              <li><a href="category.html">New Sub Categories</a></li>
              <li><a href="category.html">New Sub Categories</a></li>
            </ul>
          </li>
          <li><a href="category.html">Gold</a> <span class="down"></span>
            <ul>
              <li><a href="category.html">test 1</a></li>
              <li><a href="category.html">test 2</a></li>
            </ul>
          </li>
          <li><a href="category.html">Diamond</a></li>
          <li><a href="category.html">Pearl</a> <span class="down"></span>
            <ul>
              <li><a href="category.html">New Sub Categories</a></li>
            </ul>
          </li>
          <li><a href="category.html">Men's Jewellery</a></li>
          <li><a href="category.html">Children's Jewellery</a> <span class="down"></span>
            <ul>
              <li><a href="category.html">New Sub Categories</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="category.html">Health &amp; Beauty</a> <span class="down"></span>
        <ul>
          <li><a href="category.html">Perfumes</a></li>
          <li><a href="category.html">Makeup</a></li>
          <li><a href="category.html">Sun Care</a></li>
          <li><a href="category.html">Skin Care</a></li>
          <li><a href="category.html">Eye Care</a></li>
          <li><a href="category.html">Hair Care</a></li>
        </ul>
      </li>
      <li><a href="category.html">Kids &amp; Babies</a> <span class="down"></span>
        <ul>
          <li><a href="category.html">Toys</a></li>
          <li><a href="category.html">Games</a> <span class="down"></span>
            <ul>
              <li><a href="category.html">test 25</a></li>
            </ul>
          </li>
          <li><a href="category.html">Puzzles</a></li>
          <li><a href="category.html">Hobbies</a></li>
          <li><a href="category.html">Strollers</a></li>
          <li><a href="category.html">Health &amp; Safety</a></li>
        </ul>
      </li>
      <li><a href="category.html">Sports</a> <span class="down"></span>
        <ul>
          <li><a href="category.html">Cycling</a></li>
          <li><a href="category.html">Running</a></li>
          <li><a href="category.html">Swimming</a></li>
          <li><a href="category.html">Football</a></li>
          <li><a href="category.html">Golf</a></li>
          <li><a href="category.html">Windsurfing</a></li>
        </ul>
      </li>
      <li><a href="category.html">Home &amp; Garden</a> <span class="down"></span>
        <ul>
          <li><a href="category.html">Bedding</a></li>
          <li><a href="category.html">Food</a></li>
          <li><a href="category.html">Furniture</a></li>
          <li><a href="category.html">Kitchen</a></li>
          <li><a href="category.html">Lighting</a></li>
          <li><a href="category.html">Tools</a></li>
        </ul>
      </li>
      <li><a href="category.html">Wines &amp; Spirits</a> <span class="down"></span>
        <ul>
          <li><a href="category.html">Wine</a></li>
          <li><a href="category.html">Whiskey</a></li>
          <li><a href="category.html">Vodka</a></li>
          <li><a href="category.html">Liqueurs</a></li>
          <li><a href="category.html">Beer</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <app-product-types [productType]="0"></app-product-types>
  <app-product-types [productType]="1"></app-product-types>
  <div class="list-group">
    <h3 class="subtitle">Custom Content</h3>
    <p>This is a CMS block edited from admin. You can insert any content (HTML, Text, Images) Here. </p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  </div>
  <div class="banner owl-carousel">
    <div class="item"> <a href="#"><img src="../assets/image/banner/small-banner1-265x350.jpg" alt="small banner" class="img-responsive" /></a> </div>
    <div class="item"> <a href="#"><img src="../assets/image/banner/small-banner-265x350.jpg" alt="small banner1" class="img-responsive" /></a> </div>
  </div>

  <app-product-types [productType]="2"></app-product-types>
</aside>
